<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="sdo.itsecurity.ru/fonst.googleapis.com/css.css">
</head>
<body>

  {% for page in pages %}
    {% set key, value = page %}
    {% set page_class = "bg-" ~ loop.index %}
    <style>
      .{{ page_class }} {
        background: no-repeat url("page-html5-substrates/{{ key }}");}
      .base-w {width: {{ page_width }}px;}
    </style>

    <div class="{{ page_class }}">
      <img class="base-w" src="page-vectorlayers/{{ value }}">
    </div>
  {% endfor %}
 
</body>
</html>